/* This is for the collapsible */

/* =========================== FOR GLOBAL ===================*/
.collapsible-header {
    @include add-border(1px, #424242, bottom);
}

.collapsibleBodyMargin {
	@include add-margin(15px,left);
	@include add-margin(15px,right);
}

.collapsibleTextHeader {
    font-size:20px;
}

.collapsiblePNumber {
    font-size: 12px;
}

.collapsible {
    @include add-border(1px, #424242, top);
	@include add-border(1px, #424242, left-right);

}

.collapsible-body {
    @include add-border(1px, #424242, bottom);
}
/* =========================== END GLOBAL ===================*/