/* This is for the navbars */

/* =========================== FOR GLOBAL ===================*/

nav ul a, nav .brand-logo {
  color: white;
}

nav ul.right{

	a:hover {
	background-color: #ff4081 !important;
	transition: background-color .5s ease;
	}

	a.memberNav:hover {
  background-color: black !important; 
  color: white; 
  transition: background-color .5s ease;
	}
}

/* =========================== END GLOBAL ===================*/