/* This is for the sideNavs */

/* =========================== FOR GLOBAL ===================*/

.side-nav li.active, .side-nav li:hover {
    background-color: #ff4081 !important;
}

.side-nav{ 
	li#menuImg:hover {
    background-color: black !important;
	}

	li.sideNavDropDown {
    background-color: black;
	}
    li.sideNavDropDown a {
        color: white !important;
        padding: 0;
    }

}
.side-nav, .userSideNav {
    background-color: #002a42 !important;
    z-index: 1000000;
}

/* =========================== END GLOBAL ===================*/