﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="BayadCenter.aspx.cs" Inherits="uhopWeb.Forms.AurumPay.OTC.BayadCenter" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body onload='document.forms[0].submit()'>
    
    <form id="form1" runat="server" name='PostForm' method='POST' action='https://aurumpay.com/bayadcenterpayment.php'>
    <div>
        <% insertvalues(); %>
    </div>
    </form>
</body>
</html>
