/* This is for the HTML tags */

/* =========================== FOR GLOBAL ===================*/
html, body {
    font-family: 'Roboto Condensed', 'Roboto';
    overflow-x: hidden;
    min-height: 100%;
}
li{

	activated {
    background-color: #c51162 !important
	}
}

blockquote {
    font-size: 20px;
}

em {
    font-size: 14px;
}

#h3 {
    position: relative;
}

/* =========================== END GLOBAL ===================*/