/* This is for reverting the natural design of the HTML framework and the HTML itself */

/* =========================== FOR GLOBAL ===================*/


.container {
	margin-top: 20px;
}

.container.user {
    color: black;
}

.noPadding {
    padding-top:0px !important;
}

.noPadding2 {
    padding:0px !important;
}

.noMargin {
    margin: 0px !important;
}
/* =========================== END GLOBAL ===================*/