﻿@charset "UTF-8";
/* This is the main file which includes all of the
	SASS codes which would then be converted into
	one main.css file
*/
/* HELPERS - gathers all Sass tools and helpers weâ€™ll use across the project */
/* SASS variables helper */
/* SASS mixins helper */
/* SASS functions helper */
/* =========================== FOR GLOBAL ===================*/
.not-allowed:hover {
  cursor: not-allowed; }

#imgUserProfile:hover {
  cursor: pointer; }

.hoverable2:hover {
  transition: box-shadow 0.25s;
  box-shadow: 0 8px 17px 0 #FFFFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

table.hoverable2 tbody tr:hover {
  transition: all 0.5s ease;
  background-color: #fafafa !important; }

#operatorContactList tr:hover {
  background-color: black !important; }

#tblContactList:hover {
  transition: box-shadow 0.25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#paymentCardDetails:hover {
  transition: box-shadow 0.25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.dropdown-content {
  margin-top: 64px !important;
  background-color: black; }
  .dropdown-content li {
    text-align: center !important; }
  .dropdown-content li a {
    color: white !important;
    font-size: 15px !important; }
  .dropdown-content li a:hover {
    color: white !important; }

/* =========================== END GLOBAL ===================*/
/* Classes, placeholders & ETC helper */
/* =========================== FOR GLOBAL ===================*/
.divCover {
  display: none;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  overflow-x: auto !important; }

#genderText {
  margin-bottom: 20px; }

.icon-block .material-icons {
  font-size: inherit; }

#menu {
  margin-left: 20px; }

.type {
  color: white; }

.ValidationSummary {
  color: red; }

/* Paddings */
.xsmall-pad {
  padding: 5px; }

.small-pad {
  padding: 10px; }

.medium-pad {
  padding: 20px; }

.large-pad {
  padding: 30px; }

#maxCap {
  padding-left: 0px;
  padding-top: 20px; }

#cText {
  color: orange;
  font-size: 20px; }

.profileRows {
  margin-bottom: 5px; }

#userImg {
  position: absolute;
  margin-top: -90px; }

/* =========================== END GLOBAL ===================*/
/* BASE - HTML tags styles and revert styles */
/* This is for reverting the natural design of the HTML framework and the HTML itself */
/* =========================== FOR GLOBAL ===================*/
.container {
  margin-top: 20px; }

.container.user {
  color: black; }

.noPadding {
  padding-top: 0px !important; }

.noPadding2 {
  padding: 0px !important; }

.noMargin {
  margin: 0px !important; }

/* =========================== END GLOBAL ===================*/
/* This is for the HTML tags */
/* =========================== FOR GLOBAL ===================*/
html, body {
  font-family: 'Roboto Condensed', 'Roboto';
  overflow-x: hidden;
  min-height: 100%; }

li activated {
  background-color: #c51162 !important; }

blockquote {
  font-size: 20px; }

em {
  font-size: 14px; }

#h3 {
  position: relative; }

/* =========================== END GLOBAL ===================*/
/* COMPONENTS - Individual site components */
/* This is for the buttons */
/* =========================== FOR GLOBAL ===================*/
.button-collapse {
  color: #26a69a; }

/* =========================== END GLOBAL ===================*/
/* This is for the cards */
/* This is for the collapsible */
/* =========================== FOR GLOBAL ===================*/
.collapsible-header {
  border-bottom: 1px solid #424242; }

.collapsibleBodyMargin {
  margin-left: 15px;
  margin-right: 15px; }

.collapsibleTextHeader {
  font-size: 20px; }

.collapsiblePNumber {
  font-size: 12px; }

.collapsible {
  border-top: 1px solid #424242;
  border-left: 1px solid #424242;
  border-right: 1px solid #424242; }

.collapsible-body {
  border-bottom: 1px solid #424242; }

/* =========================== END GLOBAL ===================*/
/* This is for the modals */
/* This is for the navbars */
/* =========================== FOR GLOBAL ===================*/
nav ul a, nav .brand-logo {
  color: white; }

nav ul.right a:hover {
  background-color: #ff4081 !important;
  transition: background-color 0.5s ease; }

nav ul.right a.memberNav:hover {
  background-color: black !important;
  color: white;
  transition: background-color 0.5s ease; }

/* =========================== END GLOBAL ===================*/
/* This is for the sideNavs */
/* =========================== FOR GLOBAL ===================*/
.side-nav li.active, .side-nav li:hover {
  background-color: #ff4081 !important; }

.side-nav li#menuImg:hover {
  background-color: black !important; }

.side-nav li.sideNavDropDown {
  background-color: black; }

.side-nav li.sideNavDropDown a {
  color: white !important;
  padding: 0; }

.side-nav, .userSideNav {
  background-color: #002a42 !important;
  z-index: 1000000; }

/* =========================== END GLOBAL ===================*/
/* This is for the sliders */
/* LAYOUT - Setting some styles for the main sections of the layout, also container the grid */
/* Footer layout */
/* Forms layout */
/* =========================== FOR GLOBAL ===================*/
/* INPUT FORMS COLOR*/
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label, textarea.materialize-textarea:focus:not([readonly]) + label, .input-field .prefix.active {
  color: #ff4081; }

.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
  border-bottom: 1px solid #ff4081;
  box-shadow: 0 1px 0 0 #000; }

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ff4081;
  box-shadow: 0 1px 0 0 #ff4081; }

/* END OF INPUT FORMS COLOR*/
/* =========================== END GLOBAL ===================*/
/* Header layout */
/* =========================== FOR GLOBAL ===================*/
#bookingHeader {
  color: #e0e0e0; }

.switch label input[type=checkbox]:checked + .lever {
  background-color: #1976d2 !important; }

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #ff4081 !important; }

/* =========================== END OF GLOBAL ===================*/
/* Grid layout */
/* Side bar layout */
/* PAGES - Page specific styles (ex. about page specific styles) */
/* Specific home page design */
/* ============== UnderConstruction.aspx ============== */
#underCPage {
  background-image: url("../Images/light_gray.jpg");
  background-size: cover; }

/* ============== END UnderConstruction.aspx ============== */
/* ============== Index.aspx ============== */
#load {
  top: 0px !important;
  min-width: 100% !important;
  min-height: 100% !important;
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  /*background-image: url('../Images/uhopbg.png');*/
  background-repeat: no-repeat;
  background-size: cover; }

#homeBg {
  height: 100%;
  background-image: -webkit-linear-gradient(left top, black, #616161);
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(left top, black, #616161);
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(left top, black, #616161);
  /* For Firefox 3.6 to 15 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(#616161));
  /* For Safari 4+, Chrome 1+ */
  background-image: -webkit-linear-gradient(left top, black, #616161);
  /* For Safari 5.1+, Chrome 10+ */
  background-image: linear-gradient(left top, black, #616161);
  /* Standard syntax */ }

#imgLinkGplay:hover, #imgLinkIos:hover {
  height: 90px;
  width: 260px; }

/* ============== END Index.aspx ============== */
