/* Specific home page design */

/* ============== UnderConstruction.aspx ============== */
#underCPage {
    background-image: url('../Images/light_gray.jpg');
    background-size:cover;
}
/* ============== END UnderConstruction.aspx ============== */

/* ============== Index.aspx ============== */
#load{
    top: 0px !important;
    min-width:100% !important;
    min-height:100% !important;
    position:fixed;
    overflow: hidden;
    z-index:9999;
    /*background-image: url('../Images/uhopbg.png');*/
    background-repeat:no-repeat;
    background-size:cover;
}

#homeBg {
	height: 100%;
	@include add-gradient-bg(left top, black, #616161);
}

#imgLinkGplay:hover, #imgLinkIos:hover {
    height: 90px;
    width: 260px;
}
/* ============== END Index.aspx ============== */