@charset "UTF-8";
/* This is the main file which includes all of the
	SASS codes which would then be converted into
	one main.css file
*/
/* HELPERS - gathers all Sass tools and helpers weΓÇÖll use across the project */
/* SASS variables helper */
/* SASS mixins helper */
/* SASS functions helper */
/* =========================== FOR GLOBAL ===================*/
/* line 5, ../sass/helpers/_functions.scss */
.not-allowed:hover {
  cursor: not-allowed;
}

/* line 10, ../sass/helpers/_functions.scss */
#imgUserProfile:hover {
  cursor: pointer;
}

/* line 14, ../sass/helpers/_functions.scss */
.hoverable2:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 #FFFFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 16, ../sass/helpers/_functions.scss */
table.hoverable2 tbody tr:hover {
  transition: all 0.5s ease;
  background-color: #fafafa !important;
}

/* line 21, ../sass/helpers/_functions.scss */
#operatorContactList tr:hover {
  background-color: black !important;
}

/* line 25, ../sass/helpers/_functions.scss */
#tblContactList:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 27, ../sass/helpers/_functions.scss */
#paymentCardDetails:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 30, ../sass/helpers/_functions.scss */
.dropdown-content {
  margin-top: 64px !important;
  background-color: black;
}
/* line 34, ../sass/helpers/_functions.scss */
.dropdown-content li {
  text-align: center !important;
}
/* line 38, ../sass/helpers/_functions.scss */
.dropdown-content li a {
  color: white !important;
  font-size: 15px !important;
}
/* line 43, ../sass/helpers/_functions.scss */
.dropdown-content li a:hover {
  color: white !important;
}

/* =========================== END GLOBAL ===================*/
/* Classes, placeholders & ETC helper */
/* =========================== FOR GLOBAL ===================*/
/* line 5, ../sass/helpers/_helpers.scss */
.divCover {
  display: none;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  overflow-x: auto !important;
}

/* line 16, ../sass/helpers/_helpers.scss */
#genderText {
  margin-bottom: 20px;
}

/* line 20, ../sass/helpers/_helpers.scss */
.icon-block .material-icons {
  font-size: inherit;
}

/* line 24, ../sass/helpers/_helpers.scss */
#menu {
  margin-left: 20px;
}

/* line 28, ../sass/helpers/_helpers.scss */
.type {
  color: white;
}

/* line 32, ../sass/helpers/_helpers.scss */
.ValidationSummary {
  color: red;
}

/* Paddings */
/* line 39, ../sass/helpers/_helpers.scss */
.xsmall-pad {
  padding: 5px;
}

/* line 43, ../sass/helpers/_helpers.scss */
.small-pad {
  padding: 10px;
}

/* line 47, ../sass/helpers/_helpers.scss */
.medium-pad {
  padding: 20px;
}

/* line 51, ../sass/helpers/_helpers.scss */
.large-pad {
  padding: 30px;
}

/* line 56, ../sass/helpers/_helpers.scss */
#maxCap {
  padding-left: 0px;
  padding-top: 20px;
}

/* line 61, ../sass/helpers/_helpers.scss */
#cText {
  color: orange;
  font-size: 20px;
}

/* line 65, ../sass/helpers/_helpers.scss */
.profileRows {
  margin-bottom: 5px;
}

/* line 69, ../sass/helpers/_helpers.scss */
#userImg {
  position: absolute;
  margin-top: -90px;
}

/* =========================== END GLOBAL ===================*/
/* BASE - HTML tags styles and revert styles */
/* This is for reverting the natural design of the HTML framework and the HTML itself */
/* =========================== FOR GLOBAL ===================*/
/* line 6, ../sass/base/_normalize.scss */
.container {
  margin-top: 20px;
}

/* line 10, ../sass/base/_normalize.scss */
.container.user {
  color: black;
}

/* line 14, ../sass/base/_normalize.scss */
.noPadding {
  padding-top: 0px !important;
}

/* line 18, ../sass/base/_normalize.scss */
.noPadding2 {
  padding: 0px !important;
}

/* line 22, ../sass/base/_normalize.scss */
.noMargin {
  margin: 0px !important;
}

/* =========================== END GLOBAL ===================*/
/* This is for the HTML tags */
/* =========================== FOR GLOBAL ===================*/
/* line 4, ../sass/base/_elements.scss */
html, body {
  font-family: 'Roboto Condensed', 'Roboto';
  overflow-x: hidden;
  min-height: 100%;
}

/* line 11, ../sass/base/_elements.scss */
li activated {
  background-color: #c51162 !important;
}

/* line 16, ../sass/base/_elements.scss */
blockquote {
  font-size: 20px;
}

/* line 20, ../sass/base/_elements.scss */
em {
  font-size: 14px;
}

/* line 24, ../sass/base/_elements.scss */
#h3 {
  position: relative;
}

/* =========================== END GLOBAL ===================*/
/* COMPONENTS - Individual site components */
/* This is for the buttons */
/* =========================== FOR GLOBAL ===================*/
/* line 5, ../sass/components/_buttons.scss */
.button-collapse {
  color: #26a69a;
}

/* =========================== END GLOBAL ===================*/
/* This is for the cards */
/* This is for the collapsible */
/* =========================== FOR GLOBAL ===================*/
/* line 4, ../sass/components/_collapsible.scss */
.collapsible-header {
  border-bottom: 1px solid #424242;
}

/* line 8, ../sass/components/_collapsible.scss */
.collapsibleBodyMargin {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 13, ../sass/components/_collapsible.scss */
.collapsibleTextHeader {
  font-size: 20px;
}

/* line 17, ../sass/components/_collapsible.scss */
.collapsiblePNumber {
  font-size: 12px;
}

/* line 21, ../sass/components/_collapsible.scss */
.collapsible {
  border-top: 1px solid #424242;
  border-left: 1px solid #424242;
  border-right: 1px solid #424242;
}

/* line 27, ../sass/components/_collapsible.scss */
.collapsible-body {
  border-bottom: 1px solid #424242;
}

/* =========================== END GLOBAL ===================*/
/* This is for the modals */
/* This is for the navbars */
/* =========================== FOR GLOBAL ===================*/
/* line 5, ../sass/components/_navbar.scss */
nav ul a, nav .brand-logo {
  color: white;
}

/* line 11, ../sass/components/_navbar.scss */
nav ul.right a:hover {
  background-color: #ff4081 !important;
  transition: background-color .5s ease;
}
/* line 16, ../sass/components/_navbar.scss */
nav ul.right a.memberNav:hover {
  background-color: black !important;
  color: white;
  transition: background-color .5s ease;
}

/* =========================== END GLOBAL ===================*/
/* This is for the sideNavs */
/* =========================== FOR GLOBAL ===================*/
/* line 5, ../sass/components/_sideNav.scss */
.side-nav li.active, .side-nav li:hover {
  background-color: #ff4081 !important;
}

/* line 10, ../sass/components/_sideNav.scss */
.side-nav li#menuImg:hover {
  background-color: black !important;
}
/* line 14, ../sass/components/_sideNav.scss */
.side-nav li.sideNavDropDown {
  background-color: black;
}
/* line 17, ../sass/components/_sideNav.scss */
.side-nav li.sideNavDropDown a {
  color: white !important;
  padding: 0;
}

/* line 23, ../sass/components/_sideNav.scss */
.side-nav, .userSideNav {
  background-color: #002a42 !important;
  z-index: 1000000;
}

/* =========================== END GLOBAL ===================*/
/* This is for the sliders */
/* LAYOUT - Setting some styles for the main sections of the layout, also container the grid */
/* Footer layout */
/* Forms layout */
/* =========================== FOR GLOBAL ===================*/
/* INPUT FORMS COLOR*/
/* line 7, ../sass/layouts/_forms.scss */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label, textarea.materialize-textarea:focus:not([readonly]) + label, .input-field .prefix.active {
  color: #ff4081;
}

/* line 12, ../sass/layouts/_forms.scss */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
  border-bottom: 1px solid #ff4081;
  box-shadow: 0 1px 0 0 #000;
}

/* line 17, ../sass/layouts/_forms.scss */
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ff4081;
  box-shadow: 0 1px 0 0 #ff4081;
}

/* END OF INPUT FORMS COLOR*/
/* =========================== END GLOBAL ===================*/
/* Header layout */
/* =========================== FOR GLOBAL ===================*/
/* line 4, ../sass/layouts/_header.scss */
#bookingHeader {
  color: #e0e0e0;
}

/* line 8, ../sass/layouts/_header.scss */
.switch label input[type=checkbox]:checked + .lever {
  background-color: #1976d2 !important;
}

/* line 12, ../sass/layouts/_header.scss */
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #ff4081 !important;
}

/* =========================== END OF GLOBAL ===================*/
/* Grid layout */
/* Side bar layout */
/* PAGES - Page specific styles (ex. about page specific styles) */
/* Specific home page design */
/* ============== UnderConstruction.aspx ============== */
/* line 4, ../sass/pages/_index.scss */
#underCPage {
  background-image: url("../Images/light_gray.jpg");
  background-size: cover;
}

/* ============== END UnderConstruction.aspx ============== */
/* ============== Index.aspx ============== */
/* line 11, ../sass/pages/_index.scss */
#load {
  top: 0px !important;
  min-width: 100% !important;
  min-height: 100% !important;
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  /*background-image: url('../Images/uhopbg.png');*/
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 23, ../sass/pages/_index.scss */
#homeBg {
  height: 100%;
  background-image: -webkit-linear-gradient(left top, black, #616161);
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(left top, black, #616161);
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(left top, black, #616161);
  /* For Firefox 3.6 to 15 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(#616161));
  /* For Safari 4+, Chrome 1+ */
  background-image: -webkit-linear-gradient(left top, black, #616161);
  /* For Safari 5.1+, Chrome 10+ */
  background-image: linear-gradient(left top, black, #616161);
  /* Standard syntax */
}

/* line 28, ../sass/pages/_index.scss */
#imgLinkGplay:hover, #imgLinkIos:hover {
  height: 90px;
  width: 260px;
}

/* ============== END Index.aspx ============== */
