﻿.VehicleImg {

    height:128px;
    width:128px;
    float:left;
    background-size:cover;
    background-repeat:no-repeat;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
}

input[type='text'] {
    color:black !important;
}

.Validators {
    color:red !important;
}