﻿body {
    background-color:black;
}

table {
    height:100%;
}

table td {
    vertical-align:middle
}

form {
    height:100%;
}


@media only screen and (max-width : 768px) {
    table td{
        vertical-align:top !important;
    }
}