﻿body {
    background-color:rgba(0, 0, 0, 0.90);
}
p {
    color:white;
    font-size:30pt;
    text-align:center !important;
}

#btnContainer {
    text-align:center;
}

#btnNo {
    background-color:#b71c1c;
}

#btnNo,#btnYes {
    width:150px;
}

    #btnNo:hover {
        background-color:#c62f2f !important;
    }

@media only screen and (max-width : 500px) {
    p {
        font-size:18pt;
    }
}