﻿/*For New Booking*/
.title {
    color:white;
    border-bottom:2px solid White;

}

.aServiceAreaNext {
    width:100%;

}

.pErrorServiceAreaSelection {
    border:2px solid #d91515;
        padding:5px;
    color:white;
    text-align:left;
    background-color:rgba(217, 21, 21, 0.40);
}

.ServiceAreaSelectionCoverContent {
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
}

.ServiceAreaSelectionCover {
    background-color: rgba(0, 0, 0, 0.98);
    height:100%;
    width:100%;
    position:fixed;
    z-index:2;
}

.ddlDepartureLimitedTime {
    width: 75px;
    display: inline-block !important;
}

.OverlayButtons {
    width: 100%;
}

.hideContent {
    overflow-y: hidden;
    overflow-x: hidden;
}



#divCover, #divCoverReturn {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: 10000;
    top: 0;
    left: 0;
    overflow-y: auto;
}

    #divCover h4 {
        color: white;
        display: inline-block;
    }

    #divCover #divHeader {
        text-align: center;
    }

    #divCover .Arrow {
        background-image: url('../Images/arrow.png');
        display: inline-block;
        height: 32px;
        width: 50px;
    }

#divContainer {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/*End For New Booking*/



table[id*='GvBookingHistory'] {
    color: white;
}

#bookingHeader {
    color: #e0e0e0;
}

/*For Booking New Map*/

.ddlServiceArea {
    width: 100%;
    display: inline-block;
    margin-right: 0;
}


.showInMapBtn {
    width: 44px;
    height: 44px;
    padding: 0;
}

#divTopOptions {
    width: 100%;
    top: 64px;
    position: absolute;
    z-index: 1;
    background-color: rgba(124, 124, 124, 0.9);
}

#dvMap {
    height: calc(100% - 64px);
    width: 100%;
    position: absolute;
    top: 64px;
}

#divSearchServiceArea {
    background-image: url('../Images/searchicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: 132px;
    cursor: pointer;
}

@media only screen and (max-width : 992px) {
    #divSearchServiceArea {
        left: inherit !important;
        right: 20px !important;
    }
}

@media only screen and (max-width : 600px) {
    .title {
        font-size:25px;
    }
        #divSearchServiceArea {
        top: 10px !important;
        left: inherit !important;
    }
    #dvMap {
        height: calc(100% - 56px);
        width: 100%;
        top: 56px;
    }

    #divTopOptions {
        width: 100%;
        top: 56px;
        position: absolute;
    }
}

#bCloseTopOptions {
    color: red;
    position: absolute;
    right: 10px;
    bottom: 0;
    cursor: pointer;
}

    #bCloseTopOptions:hover {
        font-weight: bolder;
        font-size: 14pt;
        -webkit-text-stroke: white 1px;
        text-shadow: 0 0 20px red;
    }


/*For Overlay Button On Map*/

#divAddAsPickupPoint, #divAddAsDropoffPoint {
    position: absolute;
    height: auto;
    width: auto;
    border: 2px solid black;
    padding: 2px;
    width: 250px;
    background-color:rgba(43, 43, 43, 0.90);
    color:white;
}

/*End For Overlay Button On Map*/

@media only screen and (max-width : 301px) {
    .OptionButtons {
        width: 100%;
        margin-bottom: 10px;
    }

        .OptionButtons:last-child {
            margin-top: 0;
        }
}

.OptionButtons {
    margin-top: 30px;
}
/*End For Booking New Map*/



#tblScheduleList {
    color: white;
}

#divScheduleList {
    max-height: 500px !important;
    overflow-y: auto;
    overflow-style: scrollbar;
}

#ulMsg, #ulMsgReturn {
    font-size: 14pt;
    text-align: left;
    padding: 30px;
    border: 2px solid red;
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.2);
}

    #ulMsg li, #ulMsgReturn li {
        list-style-type: initial !important;
        -webkit-text-stroke: #f00 0.1px;
    }

        #ulMsg li, #ulMsg li span, #ulMsgReturn li, #ulMsgReturn li span {
            color: #f64646;
        }



/*For Return booking*/
#txtNumberOfHrs {
    color: white;
    font-size: 14pt;
    width: 200px;
    text-align: right;
}

.inputBoxHolder {
    width: 200px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#divCoverReturn {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}


#divDepartureScheduleListContainer {
    max-height: 500px;
    overflow-y: auto;
}

    #divDepartureScheduleListContainer tr:first-child th {
        text-align: center;
        vertical-align: middle;
        border-bottom:1px solid white;
        background-color:#009688;
    }

    #divDepartureScheduleListContainer tr:nth-child(2) th {
        text-align: left;
        vertical-align: middle;
        border-bottom:1px solid white;
    }


    #divDepartureScheduleListContainer tr:first-child th:first-child,#divDepartureScheduleListContainer tr:nth-child(2) th:nth-child(3) {
        border-right:1px solid white;
    }


#tblDepartureScheduleList {
    color: white;
    border: 1px solid white;
}

#tblDepartureScheduleList tr.trData:nth-child(odd) {
    background-color:rgba(60, 156, 147, 0.60);
}

#divReturnButtonContainer,#divNewBookingButtonContainer {
    text-align:center;
}