﻿html, body {
    font-family: 'Roboto Condensed', 'Roboto';
    overflow-x: hidden;
    min-height: 100%;
}

/*body {
    min-height:100% !important;
    min-width:100% !important;
}*/
#underCPage {
    background-image: url('../Images/light_gray.jpg');
    background-size:cover;
}

#forgotBg {
    min-height: 100%;
    background: -webkit-linear-gradient(left top, #0d47a1, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0d47a1, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0d47a1, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0d47a1, black); /* Standard syntax */ 
}

i.material-icons {text-rendering: optimizeLegibility; } /* Support for IE material icons*/

.not-allowed:hover     
{ 
    cursor: not-allowed;
}

#imgUserProfile:hover {
    cursor:pointer;
}
/* GENERAL PAGE CSS*/

/* INPUT FORMS COLOR*/

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label, textarea.materialize-textarea:focus:not([readonly]) + label, .input-field .prefix.active {
    color: #ff4081;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #ff4081;
    box-shadow: 0 1px 0 0 #000;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ff4081;
    box-shadow: 0 1px 0 0 #ff4081;
}
/* END OF INPUT FORMS COLOR*/

#cText {
    color: orange; font-size:20px;
}

#maxCap {
    padding-left:0px; 
    padding-top:20px;
}

#lblMc {
    padding-top:20px;
}

.spanH {
    height: 3px;
}

.validation {
    display: none;
    color: red;
}

.container {
	margin-top: 20px;
}

#bookingHeader {
    color: #e0e0e0;
}

nav ul a, nav .brand-logo {
  color: white;
}

.side-nav li.active, .side-nav li:hover {
    background-color: #ff4081 !important;
}

li.activated {
    background-color: #c51162 !important
}

.button-collapse {
  color: #26a69a;
}

.divCover {
   display: none;
   background:rgba(0,0,0,0.85); 
   position:fixed; 
   top: 0;
   width:100%;
   height:100%;
   z-index:1001;
   overflow-x:auto !important;
}

#genderText {
    margin-bottom: 20px;
}


#vehicleTabs {
    background-color:#616161;
}

.icon-block .material-icons {
  font-size: inherit;
}

.parallax-window {
    min-height: 600px; 
    background: transparent;
}

#imgFoot {
  height: 10%; width: 100%;
}

.lastPics {
  height: 500px;
}

nav ul.right a:hover {
  background-color: #ff4081 !important;
  transition: background-color .5s ease;
}

blockquote {
    font-size: 20px;
}

#menu {
    margin-left:20px;
}

.type {
    color: white;
}

.ValidationSummary {
    color:red;
}

/* NEW BOOKING CSS
    I also changed the .side-nav of materialize.css to black */

.switch label input[type=checkbox]:checked + .lever {
    background-color: #1976d2 !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #ff4081 !important;
}

nav ul.right a.memberNav:hover {
  background-color: black !important; 
  color: white; 
  transition: background-color .5s ease;
}

.side-nav li#menuImg:hover {
    background-color: black !important;
}

.side-nav li.sideNavDropDown {
    background-color: black;
}
    .side-nav li.sideNavDropDown a {
        color: white !important;
        padding: 0;
    }

.side-nav, .userSideNav {
    background-color: #002a42 !important;
    z-index: 1000000;
}

.hoverable2:hover{transition:box-shadow .25s;box-shadow:0 8px 17px 0 #FFFFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

table.hoverable2 tbody tr:hover {
    transition: all 0.5s ease;
    background-color: grey !important;
}

table.hoverable2 tbody tr:hover {
    background-color:  #fafafa !important;
}

#operatorContactList tr:hover {
    background-color: black !important;
}

#tblContactList:hover{transition:box-shadow .25s;box-shadow:0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}

#paymentCardDetails:hover{transition:box-shadow .25s;box-shadow:0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

em {
    font-size: 14px;
}
/* END of NEW BOOKING CSS*/


/* USER PROFILE PAGE CSS */
.dropdown-content {
    margin-top: 64px !important;
    background-color: black;
}
.dropdown-content li {
    text-align: center !important;
}

.dropdown-content li a {
    color: white !important;
    font-size:15px !important;
}

.dropdown-content li a:hover {
    color: white !important;
}

.errorDiv {
    height: 50px;
    width: 100%;
    background-color: red;
    z-index: 1000 !important;
    display: none;
    /*margin-top: -10px;
    margin-left: -10px;*/
}

.profileRows {
    margin-bottom: 5px;
}

#h3 {
    position: relative;
}
#userImg {
    position: absolute;
    margin-top: -90px;
}

.container.user {
    color: black;
}


.collapsible-header {
    border-bottom: 1px solid #424242 !important;
}

.collapsibleBodyMargin {
    margin-left: 15px;
    margin-right: 15px;
}

.collapsibleTextHeader {
    font-size:20px;
}

.collapsiblePNumber {
    font-size: 12px;
}

#userProfile {
    border: 1px solid white;
}

.btn-flat {
    padding: 1px !important;
}

.userDetails {
    background-color: #1565c0  !important;
}


.operatorDetails {
    background-color: #757575 !important;
}

.collapsible {
    border-top: 1px solid #424242 !important; 
    border-right: 1px solid #424242 !important; 
    border-left: 1px solid #424242 !important;
}

.collapsible-body {
    border-bottom: 1px solid #424242 !important;
}

.noPadding {
    padding-top:0px !important;
}

.noPadding2 {
    padding:0px !important;
}

.noMargin {
    margin: 0px !important;
}

/* Documents attached card on user profile page*/
#profileBirthDate p:last-child{
    display:none;
}

.userPanel {
    padding: 1px !important;
}

.userPanel a {
    margin:5px !important; margin-right:20px !important;
}

#profileImg {
    border: 1px solid white;
}

.TruncateContent {
    overflow:hidden !important;
}


.ServiceAreaPopup,.SubscriptionPopup {
    position:fixed !important; 
    min-width:100%; 
    min-height:100%; 
    background-color:rgba(0, 0, 0,0.90);
    z-index:10000;
    top:0; left:0;
}


/* FOR SUBSCRIPTION*/
ul[id*='ulSubscriptionsContainer'] {
    text-align: center;
    color:white !important;
    margin-left:auto; 
    margin-right:auto; 
    margin-top:60px; 
    width:100%; 
    max-width:1024px;
}

ul[id*='ulSubscriptionsContainer'] li {
    width:200px; 
    padding:5px; 
    border:2px solid White;
    margin:5px; 
    height:200px; position:relative; 
    background-image:url('/Images/uhop_icon_beta-min.png'); 
    background-position:center; 
    color: #ff4081; 
    padding-top: 18px;
}

ul[id*='ulSubscriptionsContainer'] li b {
    display:block; text-align:center
}

ul[id*='ulSubscriptionsContainer'] li i {
     font-size:12px;
}

ul[id*='ulSubscriptionsContainer'] li span button,ul[id*='ulSubscriptionsContainer'] li span a{
    width:150px;
}

ul[id*='ulSubscriptionsContainer'] li span {
    text-align:center; 
    position:absolute; 
    bottom:10px; 
    left:0;
    width:200px;
}

/* Materialize Subscription Cards*/
#subscribeCard1,#divCard {
    height:44px;
    width:70%;
    padding:12px;
    margin:auto
}

.subscribeCardRecommended {
    height:400px;
    border:4px solid #ff4081!important
}

.subscribeCardRegular {
    height:400px;border:4px solid #ff4081!important
}

#subscribeHeader1,#divCard {
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    background-color: #ff4081!important;
}

#subscribeHeader2 {
    margin: auto;
    height: 44px;
    padding: 12px;
    width: 70%;
    background-color: #1976d2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.subscribeTextHeader {
    font-size: 17px;
}

.subscribeDetails {
    color: #616161;
}

.subscribeDetails li {
    margin-top: 12px;
}

.subscriptionWrapper {
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 0;
    background-color: #eeeeee;
}

.windowBottom {
    bottom:0;
    position:absolute;
    width:100%;
    height: 10px;
    padding:10px;
}

.subscriptionWrapper2 {
    position: absolute;
    width: 100%;
    height: 300px;
    margin: 0;
    padding:0;
    background-color: white;
}

/*#subscribePlan {
    visibility:hidden;
}*/

.visible {
    visibility:visible !important;
}

.subscribeFinished {
    font-size: 22px;
}

#carImg {
    position: absolute;
}

.input-field {
    margin-top: 0px !important;
}

.faqHeader {
    font-size: 30px;
}

.faqDetails {
    font-size: 20px;
    margin-top: -4px;
}

.faqInfo {
    font-size: 20px;
}
/* END of Materialize Subscription Cards*/
/* END OF SUBSCRIPTION*/

.Validator {
    color:red;

}

.DateTimePicker {
    color:white !important;
}

table[id*='GVUnlimitedRide'], table[id*='GVLimitedRide'] {
    color:white;
}

.hide {
    display:none;
}

.show {
    display: block;
}

.contactFadeIn,.passwordFadein, .addressFadein, .birthdateFadein {
    background-color:rgba(2, 2, 99, 0.90);
    position: absolute; 
    z-index: 10;top:0; 
    left:0;
    height:100%;
    width:100%;
}

/*End*/

.sectionReset {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 888px;
  width: 90%;
}

.forgotPasswordCover {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

table[id*='GVDrivers'],table[id*='GVRatings'] {
    cursor:pointer;
}


table[id*='GVDrivers'] tr:not(:first-child):hover,table[id*='GVRatings'] tr:not(:first-child):hover {
    background-color:rgba(254, 187, 255,0.5);
}


/*Added by raffy Aug 13, 2015 for menu image in side nav*/

/*End Added by raffy Aug 13, 2015 for menu image in side nav*/


/*Added by raffy Aug 12, 2015 for menu image in side nav*/
/*For Application Download*/



/*End For Application Download*/
nav {
    border-bottom: 2px solid black;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

 nav #menu{
    width:102px !important;
}

nav #menu,#menuImg p:hover {
    background-image:url('../Images/menu-min.png');
    background-size:contain;
    background-repeat:no-repeat;
    height:58px;
    width:100%;
    cursor:pointer;
    position:relative;
}

#menuImg p,nav #menu:hover {
    background-image:url('../Images/menuhover-min.png');
    background-size:contain;
    background-repeat:no-repeat;
    height:58px;
    width:100%;
    cursor:pointer;
    position:relative;
    
}

#verifiedEmailText {
    /*margin-top: 50px;*/
    -webkit-text-stroke: .5px black;
}

/*#verifiedEmailContainer {
    margin-bottom: 500px;
}*/

#verifiedEmailFooter {
    bottom:0;
    position:absolute;
    width:100%;
    padding:10px;
    box-shadow:0 -2px 10px;
}

 #verifiedEmailFooter:after {
    content:"u-Hop Transport Network Vehicle System Inc. © 2015";
    color:white;
    font-weight:normal;
    font-style:italic;
    font-size:12pt;
}

#htmlEmailVerification {
    position:relative;
    height:100%;
}

#htmlEmailVerification:after {
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    height:100%;
    width:100%;
    background-image: url('../Images/index/u-hop_sh-min.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    z-index:-1;
    
}



#passwordReset{
    position:relative;
    height:100%;
}

#passwordReset:after {
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    height:100%;
    width:100%;
    background-image: url('../Images/u-hop_nightlights-min.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    z-index:-1;
}


[type=radio]:checked + label:after {
    background-color: #ff4081;
    border: none;
}

.text-color {
    color: black !important;
}


::-moz-selection { /* Code for Firefox */
    background: #1976d2;
}

::selection {
    background: #1976d2;
}

.toast {
    background-color: #1976d2 !important;
}


/* PAYMENT SUBSCRIPTION PAGE*/
#paymentFooter {
    left: 0;
    bottom: 0;
    width: 100%;
}

#visamaster,  #mlhuiller, #visamasterdebit, #bayadcenter {
    height: 50px;
    width: 150px;
}


#bancnet {
    height: 40px;
    width: 150px
}

#aurum {
    height: 40px;
}

.blackHover:hover {
    transition:box-shadow .25s;box-shadow:0 8px 17px 0 #FFFFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 18px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
    background-color: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #212121;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #757575; 
}