﻿/* JQUERY loader */
html, body {
    overflow: hidden;
}
#divForm {
    visibility: hidden;
}

#load{
    top: 0px !important;
    min-width:100% !important;
    min-height:100% !important;
    position:fixed;
    overflow: hidden;
    z-index:9999;
    /*background-image: url('../Images/uhopbg.png');*/
    background-repeat:no-repeat;
    background-size:cover;
}

#homeBg {
    height: 100%;
    background: -webkit-linear-gradient(left top, black , #616161); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, black, #616161); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, black, #616161); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, black , #616161); /* Standard syntax */ 
}


/* FOR DOWNLOAD APP SECTION */

.CloseDLApp {
    position:absolute !important;
    background-image:url('../Images/index/close_flatdesign-min.png');
    background-size: contain;
    height:50px;
    width:50px;
    top: 4px !important;
    right: 4px !important;
    padding-left:0 !important;
    background-repeat:no-repeat;
    
    top:0;
    right:0;
    cursor:pointer;
    z-index: 1;
    overflow: auto;
}

#imgLinkGplay:hover, #imgLinkIos:hover {
    transition:box-shadow .25s;box-shadow:0 8px 17px 0 grey, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.divAppDLBackGround h1 {  
    font-family:'Century Gothic';
    font-weight:bolder;
    -webkit-text-stroke:1px white;
}

.divAppDLBackGround {
    max-height:700px;
    max-width:1024px;
    height:100%;
    width:100%;

    background-color: #00e5ff;
    /*background-image:url('../Images/adapps.png');*/
    background-repeat:no-repeat;
    -webkit-background-size:contain !important;
    -moz-background-size:contain !important;
    background-size:contain !important;
    position:relative !important;

    top:10%;
    margin-left:auto;
    margin-right:auto;
    
}

#SamsungImage {
    background-image:url(../Images/index/samsung_s4-min.png);
    margin-top: 60px;
}

#IphoneImage {
    background-image:url(../Images/index/iphone_6-min.png);
}

#dlImages {
    text-align:center;
}

#IphoneImage, #SamsungImage {
    display:inline-block;
    height:569px;
    width:251px;
    position:relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.DllLinkAndroid, .DlLikAppStore {
    position:absolute;
    top:175px;
}

.DllLinkAndroid {
    left:-150px;
}
.DlLikAppStore {
    right:-150px;
}
/* END OF FOR DOWNLOAD APP SECTION */

.modalShuttle {
    min-height: 45%;
    max-width: 30%;
}

ul > li.disabled  > span{
    color: grey;
}

.firstModal, .secondModal, .thirdModal {
    min-width: 80%;
    min-height: 80%;
}

#index-banner {
    height: 450px;
}

.footer-copyright > .container {
    margin-top: 0;
}

.parallax-container {
  min-height: 380px; 
  line-height: 0; 
  height: auto; 
  color: rgba(255,255,255,.9);
}
 .parallax-container .section {
    width: 100%;
}

 /* FLIP Image*/
 .flipPic {
    position:relative;
    width:300px;
    overflow:hidden;
    float:left;
    margin-right:20px
}
.flipPic figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
}
.flipPic figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0;
    height: 110px;
    width: 300px;
    border-radius: 20%;
}
.flipPic figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.flipPic figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:center;
    margin-top: -30px;
}
.flipPic figure p {
    display:block;
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:center;
}

.flipPic figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color: #212121;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}
.flipPic figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.flipPic figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.flipPic figure:hover figcaption,figure.hover fcigcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}
 /* END FLIP Image*/

.parallax-container .section {
    position: absolute; 
    top: 40%;
}

#index-banner .section {
    top: 10%;
}

.divContactNumbers {
    margin-bottom:10px !important; 
    padding-left: 0 !important; 
    padding-right: 0 !important;
}

.divContactNumbers p {
    margin:0; padding:0; 
    text-align:center; 
    min-width:138px !important;
}

.companyHistory, .partnership {
    font-size: 20px;
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
    margin: 0;
    background: -webkit-linear-gradient(left top, #0d47a1, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0d47a1, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0d47a1, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0d47a1, black); /* Standard syntax */ 
}

iframe {
  height: 600px;
}

#backToTop {
  position: fixed; 
  bottom: 20px;
  right: -235px; 
  text-transform: uppercase;
  opacity: 0.5;
  z-index: 1000000;
}

#backToTop:hover {
    opacity: 1;
}

.socialBtns:hover {
    height:35px;
    width:35px;
}