﻿/* LOGIN */
.loginContainer {
    margin-top: 100px;
}

/*#loginBG {
    position: absolute;
    height: 100%;
    width: 100%;
}

#loginBG:after {
    content: "";
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: url("../Images/uhopbg.png");
    background-size: cover;
    z-index: -1;
}*/

#loginBG {
    height: 100%;
    background: -webkit-linear-gradient(left top, #0d47a1, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0d47a1, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0d47a1, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0d47a1, black); /* Standard syntax */ 
}
/* END OF LOGIN*/

/* SIGN UP */
.containerSignUp {
    max-width: 1000px !important; 
    width: 100%;
}

.errorLabel {
    margin-left: 170px;
}


#mSignUpBG {
    background-image: url('../Images/BG.jpg');
    background-size:cover;
}

#oSignUpBG {
    background-image: url('../Images/car_on_road.jpg');
    background-size:cover;
}

@media only screen and (max-width : 992px) {
    #mSignUpBG {
        background-image: none;
        background-size:cover;
        background-color: #c51162;
    }

    #oSignUpBG {
        background-image: none;
        background-size:cover;
        background-color: #000000;
    }
}

@media only screen and (max-width : 374px) {
    .signUpHeader {
        font-size: 23px;
    }
    .redNote {
        font-size: 12px;
    }
}

#DivSignupComplete { 
    min-height: 100% !important; 
    min-width: 100% !important; 
    text-align: center; 
    color: black; 
    margin-left: auto; 
    margin-right: auto;
}
/* END OF SIGN UP*/