﻿#DivLuxuryCover {
    min-height: 100% !important;
    min-width: 100% !important;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.indicator-item:nth-child(1):after, .indicator-item:nth-child(2):after, .indicator-item:nth-child(3):after, .indicator-item:nth-child(4):after {
    content:'';
    position:absolute;
    height:32px;
    width:32px;
    z-index:2;
    left:-8px;
    bottom:20px;
}
.indicator-item:nth-child(1):after  {
    background-image:url('../Images/index/fly-min32.png');
}


.indicator-item:nth-child(2):after  {
    background-image:url('../Images/index/glide-min32.png');
}


.indicator-item:nth-child(3):after  {
    background-image:url('../Images/index/cruise-min32.png');
}


.indicator-item:nth-child(4):after  {
    background-image:url('../Images/index/speed-min32.png');
}


.indicator-item:nth-child(1):hover:after,.indicator-item:nth-child(2):hover:after,.indicator-item:nth-child(3):hover:after,.indicator-item:nth-child(4):hover:after {
   box-shadow: 0 0 20px #ff4081 inset;
}

.slider .indicators .indicator-item.active {
    background-color: #ff4081;
}

#homeIcon:hover {
    background-color: #ff4081;
}