﻿/* MEDIA QUERIES */
@media only screen and (max-width : 1800px) {
    .flipPic figure img, ul.flipPic  {
        width: 222px;
        margin: 0;
    }
    .flipPic figure {
        top: 0;
        left: 0;
        width: 222px;
        height: 100%;
    }
}

@media only screen and (max-width : 1470px) {
    .subscribeHeader {
        font-size: 50px;
    }
}

@media only screen and (max-width : 1390px) {
    #luxuryTextHeader {
        font-size: 30px;
    }
}

@media only screen and (max-width : 1560px) {
    .attachmentTxt {
        font-size: 12px !important;
    }
}

@media only screen and (max-width : 1544px) {
    .modalShuttle {
        max-height: 72%;
    }
}
@media only screen and (max-width : 1350px) {
    .flipPic figure img, ul.flipPic {
        width: 190px;
    }
    .flipPic figure {
        top: 0;
        left: 0;
        width: 190px;
        height: 100%;
    }

    .operatorMasterHeader {
        font-size: 30px;
    }

    #vehicleTabs {
        font-size: 12px;
    }
}

@media only screen and (max-width : 1185px) {
    .operatorMasterHeader {
        font-size: 25px;
    }

    .trHeader {
        font-size: 12px !important;
    }

    .sListTbody {
        font-size:12px !Important;
    }

    .subscribeHeader {
        font-size: 40px;
    }
}

@media only screen and (max-width : 1160px) {
    .flipPic figure img, ul.flipPic {
        width: 150px;
    }

    .flipPic figure {
        top: 0;
        left: 0;
        width: 150px;
        height: 100%;
    }

    .subscribeFinished {
        font-size: 20px !important;
    } 

    #luxuryTextHeader {
        font-size: 25px;
    }

}

@media only screen and (max-width : 1111px) {
    .modalShuttle {
        min-height: 50% !important;
        max-width: 60% !important;
    }
}

@media only screen and (max-width : 1077px) {
    .uhopLogo {
        width: 220px;
    }

    .navText {
        font-size: 12px;
    }
}

@media only screen and (max-width : 1060px) {
    #navLogo {
        width: 185px;
        height:60px;
    }

    .modal-fixed-footer {
        /*min-height:1000px;*/
        min-width:100%;
    }

    #luxuryTextHeader {
        font-size: 22px;
    }

   /*.firstModal {
        margin-top: -520px;
        margin-left: -70px;
    }

    .secondModal {
        margin-top: -520px;
        margin-left: -300px;
    }*/
}

@media only screen and (max-width : 992px) {
    .luxuryForm {
        text-align: center;
    }
    .luxuryIcon {
        display: none;
    }
     #luxuryTextHeader {
        text-align: center;
    }
    .luxuryImg {
        text-align: center;
    }
    .loginContainer {
        margin-top: 0px !important;
    }

    #loginImg {
        display: none;
    }
    #visamaster, #mlhuiller, #visamasterdebit {
        height: 25px !important;
        width: 80px !important;
    }

    #bancnet {
        height: 20px !important;
        width: 80px !important;
    }

    #aurum {
        height: 50px;
        width: 150px;
    }
    .flipPic figure img {
        width: 250px;
        height: 95px;
    }

    ul.flipPic {
        width: 250px;
    }

     .flipPic figure {
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
    }
}

@media only screen and (max-width: 830px) {
    #SamsungImage, #IphoneImage {
        height: 500px !important;
        width: 250px !important;
        text-align: center;
    }

    #imgLinkGplay, #imgLinkIos {
        width: 200px !important;
    }

    .DllLinkAndroid {
        left: -100px !important;
    }

    .DlLikAppStore {
        right: -100px !important;
    }
}

@media only screen and (max-width: 785px) {
    h1 {
        font-size:32px;
    }
    h2{
        font-size:30px;
    }
    h3 {
       font-size: 30px;
    }
    h4 {
        font-size:23px;
    }
    h5 {
        font-size: 18px;
    }
    .quickLoadButtons a{
        margin-top:5px; 
        width:200px; 
        font-size: 11px;
    }

    .verifiedBtns a {
        margin-top:5px; 
        width:200px; 
        font-size: 11px;
    }

    .vehicleTypeSubBtn {
        font-size: 11px;
    }

    .companyHistory, .partnership {
        font-size: 13px !important;
    }

    blockquote {
        font-size: 12px !important;
    }

    .modal {
        width: 100% !important;
    }

   .quickLoadButtons a{
        margin-top:5px; 
        width:190px; 
        font-size: 11px;
    }

    .prevUploadImage {
        height:150px !important;
        width: 50% !important;
    }

    #ModalEdit {
        height:500px !important;
    }

   .subscribeHeader {
        font-size: 30px;
    }
}

@media only screen and (max-width: 740px) {
    .operatorMasterHeader {
        font-size: 20px;
    }
    #SamsungImage, #IphoneImage {
        height: 450px !important;
        width: 240px !important;
    }

    #imgLinkGplay, #imgLinkIos {
        width: 150px !important;
    }

    .DllLinkAndroid {
        left: -50px !important;
    }

    .DlLikAppStore {
        right: -50px !important;
    }

    .DllLinkAndroid, .DlLikAppStore {
        position:absolute;
        top:135px;
    }
}

@media only screen and (max-width: 700px) {
    #modalEditImg {
        height:620px !important;
    }
}

@media only screen and (max-width : 640px) {

    .flipPic figure img {
        width: 200px;
    }

   ul.flipPic {
        width: 200px;
    }

    .flipPic figure {
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
    }
    
}

@media only screen and (max-width : 600px) {
    #SamsungImage, #IphoneImage {
        height: 420px !important;
        width: 230px !important;
    }

    #imgLinkGplay, #imgLinkIos {
        width: 144px !important;
    }

    .flipPic figure img {
        width: 200px;
        height: 100px;
    }

    ul.flipPic {
        width: 200px;
    }

    .flipPic figure {
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
    }

    #index-banner .section {
        top: 0;
    }
    .divAppDLBackGround h1 {
        font-size:28px;
    }
    i.right {
        margin-top: 15px;
    }

     #modalEditImg {
        height:640px !important;
    }

    #userHeading {
        text-align: center;
    }
}

@media only screen and (max-width : 584px) {
    #SamsungImage {
        margin-top: 150px !important;
    }
   #SamsungImage, #IphoneImage {
        height: 400px !important;
        width: 220px !important;
    }

    #imgLinkGplay, #imgLinkIos {
        width: 134px !important;
    }
}


@media only screen and (max-width : 564px) {
    #SamsungImage, #IphoneImage {
        height: 350px !important;
        width: 210px !important;
    }

    #imgLinkGplay, #imgLinkIos {
        width: 130px !important;
    }

    .subscribeHeader {
        font-size: 25px;
    }
}

@media only screen and (max-width : 550px) {
    #SamsungImage, #IphoneImage {
        height: 480px !important;
        width: 245px !important;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    #imgLinkGplay, #imgLinkIos {
        width: 170px !important;
    }

    .divAppDLBackGround {
        max-height:2000px !important;
    }

    .flipPic figure img {
        width: 190px;
        height: 100px;
    }

    ul.flipPic {
        width: 190px;
    }

    .flipPic figure {
        top: 0;
        left: 0;
        width: 190px;
        height: 100%;
    }

    .fadeHeader {
        font-size: 20px !important;
    }
}

@media only screen and (max-width : 510px) {
    .pInfoHeader {
        font-size: 16px !important;
    }

    #modalEditImg {
        height: 595px !important;
    }

    .subscribeFinished {
        font-size: 12px !important;
    }
}

@media only screen and (max-width : 490px) {
    .modalShuttle {
        min-width: 100% !important;
        max-height: 80% !important;
    }
}

@media only screen and (max-width : 470px) {
    .flipPic figure img {
        width: 175px;
        height: 100px;
    }

    ul.flipPic {
        width: 175px;
    }

    .flipPic figure {
        top: 0;
        left: 0;
        width: 175px;
        height: 100%;
    }
    
    .paymentOptHeader {
        font-size: 22px !important;
    }

    .subscriptionTHeader, .subscriptionQuote {
        font-size: 12px;
    }

    .policyDetails {
        font-size: 13px !important;
    }

   .subscribeHeader {
        font-size: 20px;
    }

}

@media only screen and (max-width : 450px) {
    .card-image img {
        height: 200px !important;
    }


    .card-title {
        font-size: 15px !important;
    }

    .flipPic figure img {
        width: 155px;
        height: 100px;
    }

    ul.flipPic {
        width: 155px;
    }

    .flipPic figure {
        top: 0;
        left: 0;
        width: 155px;
        height: 100%;
    }

    #verifiedEmailFooter:after {
        font-size: 8pt !important;
    }

    .verifiedh3Header {
        font-size: 20px;
    }

    .verifiedh4Header {
        font-size: 17px;
    }

    .collapsibleTextHeader {
        font-size: 13px !important;
    }

    .collapsiblePNumber {
        font-size: 8px !important;
    }

    .oDashboardIcons {
        font-size: 13px !important;
        margin: 0px !important;
    }

    #modalEditImg {
        height: 570px !important;
    }
}

@media only screen and (max-width : 390px) {
    .flipPic figure img {
        width: 130px;
        height: 90px;
    }

    ul.flipPic {
        width: 130px;
    }

    .flipPic figure {
        top: 0;
        left: 0;
        width: 130px;
        height: 100%;
    }

    .operatorMasterHeader {
        font-size: 19px;
    }

    .subscribeHeader {
        font-size: 18px;
    }
    
}

@media only screen and (max-width : 374px) {
    #SamsungImage, #IphoneImage {
        height: 430px !important;
        width: 230px !important;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    #imgLinkGplay, #imgLinkIos {
        width: 150px !important;
    }  


    .divAppDLBackGround {
        max-height:900px !important;
    }
    
}

@media only screen and (max-width : 354px) {
    #SamsungImage, #IphoneImage {
        height: 400px !important;
        width: 200px !important;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .DllLinkAndroid, .DlLikAppStore {
        position:absolute;
        top:135px;
        display: block;
    }

    #imgLinkGplay, #imgLinkIos {
        width: 140px !important;
    }

    #imgLinkGplay {
        display:block;
    } 

     .divAppDLBackGround {
        max-height:800px !important;
    }

    .pInfoHeader {
        font-size: 14px !important;
    }

    .fadeHeader {
        font-size: 17px !important;
    }

    .prevUploadImage {
        height:120px !important;
        width: 50% !important;
    }

    #subscriptList {
        font-size: 20px;
    }

    #modalEditImg {
        height: 510px !important;
    }
}

@media only screen and (max-width : 340px) {
    .flipPic figure img {
        width: 110px;
        height: 80px;
    }


    ul.flipPic {
        width: 110px;
    }

    .flipPic figure {
        top: 0;
        left: 0;
        width: 110px;
        height: 100%;
    }

    .subscribeHeader {
        font-size: 25px;
    }
}

@media only screen and (max-width : 333px) {
    .operatorMasterHeader {
        font-size: 17px;
    }

    #vehicleTabs {
        font-size: 11px;
    }

    .cardHeader {
        font-size: 20px !important;
    }

    .collapsibleTextHeader {
        font-size: 12px !important;
    }

    .collapsiblePNumber {
        font-size: 9px !important;
    }

    .oDashboardIcons {
        margin: 0px !important;
    }
}

@media only screen and (max-width : 322px) {
     #SamsungImage, #IphoneImage {
        height: 370px !important;
        width: 200px !important;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .DllLinkAndroid {
        left: -30px !important;
    }

    .DlLikAppStore {
        right: -30px !important;
    }

     .divAppDLBackGround {
        max-height:750px !important;
    }
}


@media only screen and (max-width : 285px) {
    .card-image img {
        height: 150px !important;
    }
}