﻿#memberBg {
    background-image: url("../Images/user_profile.png");
    background-color: white;
    background-repeat: no-repeat;
}

.statusUpdate {
    min-width: 100%;
    height: 43px;
    background-color: #fb8c00;
    margin-top: -22px;
    padding: 10px;
}

@media only screen and (max-width : 718px) {
    .statusUpdate {
        height: 60px;
    } 
}


@media only screen and (max-width : 403px) {
    .statusUpdate {
        height: 80px;
    }
}

.prevUploadImage, .prevUploadImageProfile {
    height:300px;
    width:80%;
}

#imgUserProfile {
    height: 100px !important;
    width:110px !important;
}

#errorPrompt {
    display: none;
}

#tblContactList tr:hover {
    background-color: #e3f2fd !important;
}

.divServiceAreaContainer {
    width:100%; 
    max-width:1500px; 
    margin-left:auto; 
    margin-right:auto; 
}


ul.majorStops {
    padding-left: 30px;
}

ul.majorStops li {
    list-style-type: square !important;
}