﻿.modalBackground
{
    background-color: gray;
    filter: alpha(opacity=90);
    opacity: 0.8;
}
.modalPopup
{
    background-color:gray;
    border:1px solid black;
    border-radius:20px;
    max-height:200px;
    max-width:500px;
    height:100%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    color:white;
    margin-top:0;
    list-style:none;
    font-size:20px;
    padding:0;
    padding-top:50px;
    padding-left:20px;
}