﻿body {
    padding:0;
    margin:0;
}


.top-bar-fixed-black {

    position:fixed;
    height:56px;
    width:100%;
    background:rgba(36,36,36,0.85);

}


    .top-bar-fixed-black ul {
    
        list-style:none;
            width:100%;
        max-width:500px;
    }

.menu-button-round {

    position:absolute;
    top:10%;
    left:20px;
    text-transform:uppercase;
    cursor:pointer;
    background-image:url(../Images/MenuandIcon.png);
    background-repeat:no-repeat;
    width:97px;
    height:43px;
    background-size:contain;
    transition:all 0.1s ease-in;

    box-shadow:none;


}


    .menu-button-round:before {
        content:"";
        position:absolute;
        left:0;
        top:0.5px;
        width:42px;
        height:42px;
        border-radius:20px;
    }

.menu-button-round:hover:before {
    box-shadow:inset 0 0 10px #fff;



}


.menu-Button-LogIn {

    position:absolute;
    top:10%;
    right:20px;
    text-transform:uppercase;
    cursor:pointer;
    width:50px;
    height:43px;
    border:1px solid black;
    border-radius:100%;
}

    .menu-Button-LogIn:after {
        content:"Log In";
        font-size:12px;
        position:absolute;
        top:15px;
        color:white;
        left:4px;
        
    }

    .menu-Button-LogIn:hover {
        
        box-shadow:inset 0 0 10px #fff;
    }

.wraper-left,.wraper-right {
    float:left;

}

.wraper-left {
    width:0;
    background-color:rgba(36,36,36,0.85);
    box-shadow: 0 10px 50px #fff;
}

    .wraper-left ul {
        position:fixed;
        color:white;
        visibility:hidden;
        list-style:none;
        padding:0;
        margin:0;

    }

        .wraper-left ul li {
            padding:10px;
            
        }


.close-button {
    background-image:url('../Images/close24.png');
    height:24px;
    width:24px;
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
    cursor:pointer;
    box-shadow:none;
    position:relative;
}
    .close-button:before {
        position:absolute;
        content:"";
        height:35px;
        width:35px;    
        top:-5px;
        left:-5px;
        border-radius:100%;


    }

        .close-button:hover:before {
        box-shadow:inset 0 0 10px #fff;
        
        }