#operatorBG {
    background-image: url("../Images/user_profile.png");
    background-color: black;
    background-repeat: no-repeat;
}

.divErrorTop {
	display: none;
	padding:10px;
}

.btnEditV {
    margin-bottom: 10px;
    height:35px;
    width:125px;
}
@media only screen and (max-width : 992px) {
    .btnEditV {
        font-size: 11px;
        height:30px;
        width:118px;
    }

    .vehicleDesc {
        font-size: 15px !important;
    }
}

@media only screen and (max-width : 718px) {
    .statusUpdate {
        height: 60px;
    } 
}

@media only screen and (max-width : 600px) {
    #ContentPlaceHolder1_lblFirstName, #ContentPlaceHolder1_lblMiddleName, #ContentPlaceHolder1_lblLastName {
    font-size: 18px;
    }
}


@media only screen and (max-width : 403px) {
    .statusUpdate {
        height: 80px;
    } 
}

.vehicleDesc {
    font-size: 20px;
}

.statusUpdate {
    min-width: 100%;
    height: 43px;
    background-color: #fb8c00;
    margin-top: -22px;
    padding: 10px;
}



.viewLargeModal {
    height: 600px;
}

#imgLarge {
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
}

.prevUploadImage, .prevUploadImageProfile {
    height:300px;
    width:80%;
}

#imgUserProfile {
    height: 100px !important;
    width: 120px !important;
}

#errorPrompt {
    display: none;
}

#tblContactList2 .removableTR:hover {
    background-color: lightblue;
}