﻿.filterOptions {
    list-style:none;
    width:100%;
    max-width:400px;
    border: 1px solid #e8e8e8;
}



.filterOptions > li:first-child {
    background-color:#1565c0;
    color:white;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    position:relative;
    font-size:14pt;
    font-weight:bold;
    border:2px solid #2672ca;
}

.filterOptions > li:first-child > Span {
    position:absolute;
    right:10px;
    top:6px;
}


    .filterOptions > li:not(:first-child) {
        padding-top:5px;
        padding-bottom:5px;
        padding-left:10px;
        padding-right:10px;
        font-size:12pt;
    }

    .filterOptions > li:nth-child(3) input, .filterOptions > li:nth-child(5) select {
        margin:0;
        height:30px;
    }


    .filterOptions > li:nth-child(even) {
        padding-bottom:0;

    }

    /*.filterOptions:hover {
        transition:box-shadow .25s border .25s;
        box-shadow:0 8px 17px 0 #858585, 0 6px 20px 0 rgba(68, 68, 68, 0.19);
        border:0;
    }*/


@media only screen and (max-width : 720px) {

    .filterOptions > li:first-child {
            font-size:10pt !important;
    }

    .filterOptions > li:first-child > Span {
        position:absolute;
        right:10px;
        top:2px;
    }

    .filterOptions > li:first-child > Span > a{
        width:100px;
        padding-left:5px;
        padding-right:5px;
    }

        .filterOptions > li:first-child > Span > a > i{
            margin-right:5px;
    }
}




table[id*='gvSubscription'] {
    border: 1px solid #e8e8e8;
    margin-bottom:20px;
}

    table[id*='gvSubscription']:hover {
        transition:box-shadow .25s border .25s;
        box-shadow:0 8px 17px 0 #858585, 0 6px 20px 0 rgba(68, 68, 68, 0.19);
    }

    table[id*='gvSubscription'] > tbody > tr > th {
        background-color:#1565c0;
        color:white;
    }

    table[id*='gvSubscription'] > tbody > tr:not(:first-child):not(:last-child):hover {
        background-color:rgba(21, 101, 192, 0.18);
    }

    table[id*='gvSubscription'] > tr:not(:last-child):nth-child(even) {
        background-color:rgba(243, 242, 242, 0.50);
    }


    table[id*='gvSubscription'] tr:last-child td > table > tbody > tr > td {
        border-collapse:separate;
        display:inline-block;
        padding-top:0;
        padding-bottom:0;
    }

div[id*='UpdatePanel1'] {
    border:2px solid #b10f0f;
    background-color:rgba(152, 58, 58, 0.80);
    color:white;
    text-align:center;
}