﻿.hide {
    display:none;
}
.MonthList {
    position:absolute;
    background-color:white;
    width:200px;
}

    .MonthList > li {
        text-align:left;
        font-family:roboto,sans-serif;
        font-size:14pt;
        padding-left:5px;
        padding-right:5px;
    }
        .MonthList > li:hover {
            background-color:#009688;
            cursor:pointer;
            color:white;
        }

.selectedDate {
    margin-left:auto;
    margin-right:auto;
    display:table;
    font-size:14pt;
    font-family:roboto,sans-serif;
}

#divDTContent {
    position:relative;
    background-color:white;

        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    #divDTContent b,.bMonth {
        color:white;
    }

    #divDTContent #tblCalendar td div {
        height:22px;
        width:22px;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }

    #divDTContent #tblCalendar td div:hover,.selected {
        background-color:#009688;
        border-radius:100%;
        cursor:pointer;
        color:white;
        box-shadow:0 0 5px black;
    }


.bMonth {
    display:inline-block;
}

.bMonth:hover {
    text-decoration:underline;
    cursor:pointer;
    position:relative;
}

#tblCalendar th,#tblCalendar td {
    color:black !important;
    width:14.29%;
    text-align:center;
    
}

#ulCalendarContainer > li:first-child,#ulCalendarContainer > li:last-child {
    background-color:#009688;
    padding:10px;
    box-shadow:0 0 5px;
}

    #ulCalendarContainer > li:first-child {
        font-size:24pt;
        text-align:center;
        font-family:roboto,sans-serif;
        font-weight:bold;
    }

.Clickable {
    cursor:pointer;
    padding-left:5px;
    padding-right:5px;
    position:relative;
    display:inline;
}

    .Clickable:hover:after,.bMonth:hover:after {
        background: #333;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        bottom: 26px;
        color: #fff;
        content:attr(data-title);
        left: 20%;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        width: 250px;
        font-size:14pt;
        box-shadow:0 0 5px black;

    }

    /*Time Picker*/
#tblTimePicker td {
    padding:5px;
    width:33.33%;
}


#tblTimePicker tbody tr:first-child td div,#tblTimePicker tbody tr:last-child td div {
    
    background-size:inherit;
    background-position:center;
    background-repeat:no-repeat;
    background-color:#009688;
    cursor:pointer;
    box-shadow:0 0 10px;
    border-radius:10px;
}

#tblTimePicker tr:first-child td div:active, #tblTimePicker tr:last-child td div:active {
    box-shadow:0 0 30px inset;

}

#tblTimePicker tr:first-child td div {
    background-image:url('/Images/caret32Up.png');
}

#tblTimePicker tr:last-child td div {
    background-image:url('/Images/caret32Down.png');
}

#tblTimePicker tr:first-child td div, #tblTimePicker tr:last-child td div {
    height:32px;
}

#tblTimePicker tr:nth-child(2) td {
    height:100px;
    width:33.33%;
}

    #tblTimePicker tr:nth-child(2) td div {
        text-align:center;
        font-size:20pt;
    }