﻿#tblTimePicker td {
    padding:5px;
}


#tblTimePicker tr:first-child td div,#tblTimePicker tr:last-child td div {
    
    background-size:inherit;
    background-position:center;
    background-repeat:no-repeat;
    background-color:#009688;
    cursor:pointer;
    box-shadow:0 0 10px;
    border-radius:10px;
}

#tblTimePicker tr:first-child td div:active, #tblTimePicker tr:last-child td div:active {
    box-shadow:0 0 30px inset;

}

#tblTimePicker tr:first-child td div {
    background-image:url('/Images/caret32Up.png');
}

#tblTimePicker tr:last-child td div {
    background-image:url('/Images/caret32Down.png');
}

#tblTimePicker tr:first-child td div, #tblTimePicker tr:last-child td div {
    height:32px;
}

#tblTimePicker tr:nth-child(2) td {
    height:100px;
    width:33.33%;
    background-color:white;
        border-radius:50px;
}

#tblTimePicker {
    border-collapse:separate;
    border-spacing:10px;

}
    #tblTimePicker tr:nth-child(2) td input,#tblTimePicker tr:nth-child(2) td div {
        text-align:center;
        font-size:24pt;
        border:0;
        margin-bottom:0;

    }


body {

        max-width:500px !important;
            -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.TimePickerContainer {
    max-width:400px !important;
    margin-left:auto;
    margin-right:auto;
}