﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Forms/Site1.Master" AutoEventWireup="true" CodeBehind="AurumPayment.aspx.cs" Inherits="uhopWeb.Forms.AurumPay.DebitCard.AurumPayment" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <style type="text/css">
        html {
            overflow: auto;
        }

        iframe {
            margin: 0px;
            padding: 0px;
            height: calc(100% - 64px);
            top: 64px;
            border: none;
            display: block;
            width: 100%;
            border: none;
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            
        }
    </style> 


    <iframe id="tree" name="tree" src="<% Response.Write(url()); %>" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%" scrolling="auto"></iframe>
 
</asp:Content>
