/* Forms layout */

/* =========================== FOR GLOBAL ===================*/

/* INPUT FORMS COLOR*/
// label focus color 
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label, textarea.materialize-textarea:focus:not([readonly]) + label, .input-field .prefix.active {
    color: #ff4081;
}

// label underline focus color
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #ff4081;
    box-shadow: 0 1px 0 0 #000;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ff4081;
    box-shadow: 0 1px 0 0 #ff4081;
}
/* END OF INPUT FORMS COLOR*/

/* =========================== END GLOBAL ===================*/
