/* Header layout */

/* =========================== FOR GLOBAL ===================*/
#bookingHeader {
    color: #e0e0e0;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #1976d2 !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #ff4081 !important;
}
/* =========================== END OF GLOBAL ===================*/