/* SASS functions helper */

/* =========================== FOR GLOBAL ===================*/
//Hovers 
.not-allowed:hover     
{ 
    cursor: not-allowed;
}

#imgUserProfile:hover {
    cursor:pointer;
}

.hoverable2:hover{transition:box-shadow .25s;box-shadow:0 8px 17px 0 #FFFFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

table.hoverable2 tbody tr:hover {
	transition: all 0.5s ease;
    background-color:  #fafafa !important;
}

#operatorContactList tr:hover {
    background-color: black !important;
}

#tblContactList:hover{transition:box-shadow .25s;box-shadow:0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}

#paymentCardDetails:hover{transition:box-shadow .25s;box-shadow:0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

//Dropdowns
.dropdown-content {
    margin-top: 64px !important;
    background-color: black;

	li {
    text-align: center !important;
	}

	li a {
    color: white !important;
    font-size:15px !important;
	}

	li a:hover {
    color: white !important;
	}
}

/* =========================== END GLOBAL ===================*/