/* Classes, placeholders & ETC helper */

/* =========================== FOR GLOBAL ===================*/

.divCover {
   display: none;
   background:rgba(0,0,0,0.85); 
   position:fixed; 
   top: 0;
   width:100%;
   height:100%;
   z-index:1001;
   overflow-x:auto !important;
}

#genderText {
    margin-bottom: 20px;
}

.icon-block .material-icons {
  font-size: inherit;
}

#menu {
    margin-left:20px;
}

.type {
    color: white;
}

.ValidationSummary {
    color:red;
}



/* Paddings */
.xsmall-pad {
	padding:5px;
}

.small-pad {
	padding:10px;
}

.medium-pad {
	padding: 20px;
}

.large-pad {
	padding: 30px;
}
// end paddings

#maxCap {
    @include add-padding(0px, left);
	@include add-padding(20px, top);
}

#cText {
    color: orange; font-size:20px;
}

.profileRows {
	@include add-margin(5px, bottom);
}

#userImg {
    position: absolute;
	@include add-margin(-90px,top);
}


/* =========================== END GLOBAL ===================*/