/* SASS mixins helper */
@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin add-border($size, $color, $position) {
	@if $position == 'all' {
		border: $size solid $color;
	} @else if $position == 'top' {
		border-top: $size solid $color;
	} @else if $position == 'bottom' {
		border-bottom: $size solid $color;;
	} @else if $position == 'left' {
		border-left: $size solid $color;
	} @else if $position == 'right' {
		border-right: $size solid $color;
	} @else if $position == 'top-bottom' {
		border-top: $size solid $color;;
		border-bottom: $size solid $color;
	} @else if $position == 'left-right' {
		border-left: $size solid $color;
		border-right: $size solid $color;
	}
}

@mixin add-padding($size, $position) {
	@if $position == 'all' {
		padding: $size;
	} @else if $position == 'top' {
		padding-top: $size;
	} @else if $position == 'bottom' {
		padding-bottom: $size;
	} @else if $position == 'left' {
		padding-left: $size;
	} @else if $position == 'right' {
		padding-right: $size;
	} @else if $position == 'top-bottom' {
		padding-top: $size;
		padding-bottom: $size;
	} @else if $position == 'left-right' {
		padding-left: $size;
		padding-right: $size;
	}
}

@mixin add-margin($size, $position) {
	@if $position == 'all' {
		margin: $size;
	} @else if $position == 'top' {
		margin-top: $size;
	} @else if $position == 'bottom' {
		margin-bottom: $size;
	} @else if $position == 'left' {
		margin-left: $size;
	} @else if $position == 'right' {
		margin-right: $size;
	} @else if $position == 'top-bottom' {
		margin-top: $size;
		margin-bottom: $size;
	} @else if $position == 'left-right' {
		margin-left: $size;
		margin-right: $size;
	}
}

@mixin add-gradient-bg($position, $from, $to) {
  background-image: -webkit-linear-gradient($position, $from , $to); /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient($position, $from, $to); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient($position, $from, $to); /* For Firefox 3.6 to 15 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));  /* For Safari 4+, Chrome 1+ */
  background-image: -webkit-linear-gradient($position, $from, $to); /* For Safari 5.1+, Chrome 10+ */
  background-image: linear-gradient($position, $from , $to); /* Standard syntax */ 
}